.equal-height-card {
    display: flex;
    margin: 20px;
    height: 550px;
    width: fit-content;
    flex-wrap: wrap;
  }
  .pie{
    height: 150px;
    width: 150px;
  }
  .table {
    width: 100%;
    table-layout: fixed;
  }
  
  .table th,
  .table td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  
  