.glassmorphism {
  background: linear-gradient(to right, #fffeff, #e0d6d7);
  padding: 20px;
  border-color: red;
  max-width: 500px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  border-radius: 10px;
}


.login-register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  max-width: 500px;
  width: 100%;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}